@import '../../../scss/settings';

.vt-wrapper {
  @include size(100%);

  position: relative;
  height: 0;
  padding-top: $padding-169; // 9/16
  align-self: center;
  pointer-events: all;
  max-height: 100%;

  video,
  img {
    @include absolute(top 0);
    @include size(100%);
    object-fit: cover;
  }

  @include user-camera-controls;
}

video {
  &.user-stream {
    object-fit: cover;
    transition-property: border-radius, transform;
    transition-duration: 300ms;
  }
}

.user-stream--mirrored {
  transform-origin: top left;
  transform: scale(-1, 1) translateX(-100%);
}

.video__controls {
  z-index: 0;
  pointer-events: auto;
}

.controls {
  @include size(36px, 32px);
  border-radius: 4px;
  display: flex;
  align-items: center;
  color: white;
  justify-content: center;
  width: 100%;
}

.stream-controls {
  > span {
    background-color: $color-primary;
  }

  > div {
    display: flex;
    align-items: center;

    button {
      @include button-reset;
      @include size(20px);

      display: inline-flex;
      align-items: center;
      justify-content: center;

      + button {
        margin-left: 8px;
      }
    }
  }
}

.hand-raise {
  &::before {
    background-color: $color-hand-raise;
    animation: blink 1000ms infinite alternate ease;
  }

  &--accepted {
    &::before {
      background-color: $color-hand-raise-acc;
    }
  }

  &,
  &--accepted {
    &::before {
      @include absolute(0);

      content: '';
      transform: scale(1.04, 1.07);
      border-radius: 8px;
    }
  }
}

@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
