@import '../../../../scss/settings';

$button-height: 40px;

.students {
  @include size(100%);

  grid-row: 5;
  padding-bottom: 12px;
  display: flex;
  flex-direction: column;

  .handraise {
    @include absolute(left 50% top 0);
    @include size(50px, 45px);
    @include flex(row, center, center);

    transition: transform 160ms;
    transition-delay: 100ms;
    transform: translate(-50%, -50%);
    background: linear-gradient(180deg, rgba(#333, 0.5) 50%, transparent 50%);
    border-radius: 16px;
    > button {
      @include primary-circular-icon;

      > svg {
        @include size(24px);
      }
    }
  }

  &__toggle {
    @include button-reset;
    @include font-size(14px, 16px);

    flex: 0 0 $button-height;
    color: white;
    margin-left: 24px;
    align-self: flex-start;

    &:focus {
      outline: none;
    }

    .chevron {
      transition: transform 300ms;
    }
  }

  .student-list {
    flex: 1 1 100%;
    padding: 0 28px;
    display: flex;
    align-items: center;
    overflow: auto;

    &::-webkit-scrollbar {
      display: none;
    }

    &::after {
      content: '';
      display: block;
      flex: 0 0 28px;
    }

    -ms-overflow-style: none;
    scrollbar-width: none;

    &__scroll {
      @include primary-circular-icon;
      @include absolute(top 50%);

      transform: translateY(-50%);
      z-index: 1;

      > svg {
        @include size(12px, 20px);
      }

      &--left {
        left: 12px;

        > svg {
          transform: rotateY(180deg);
        }
      }

      &--right {
        right: 12px;
      }
    }

    .student__item {
      flex: 0 0 var(--flexWidth);
      filter: drop-shadow(2px 2px 28px rgba(28, 34, 79, 0.25));

      &:not(:hover) {
        .ui.dropdown:not(.visible) {
          display: none;
        }
      }

      .ui.dropdown {
        @include absolute(top 5px right 0);

        z-index: 1;
        
        > button {
          @include button-reset;
          @include size(24px);
        }
      }

      + div {
        margin-left: 16px;
      }
    }
  }

  .student {
    position: relative;
    height: 0;
    padding-top: $padding-169; // 9/16
    align-self: center;
    pointer-events: all;
    max-height: 100%;

    video,
    img {
      @include absolute(top 0);
      @include size(100%);
      object-fit: cover;
    }

    @include user-camera-controls;

    .stream-controls {
      @include absolute(bottom 0 left 0 right 0);

      background: rgba(29, 29, 29, 0.7);
      opacity: 0.9;

      > span {
        background: none;
        @include font-size(14px, 16px);
      }

      > div {
        flex: 0 0 auto;
      }
    }
  }
}
