@mixin button-reset {
  display: inline-block;
  outline: none;
  border: none;
  font: inherit;
  background-color: transparent;
  color: inherit;
  padding: 0;

  &:focus {
    outline: none;
  }

  &:enabled {
    cursor: pointer;
  }

  &:disabled {
    cursor: not-allowed;
  }
}

@mixin primary-circular-icon {
  @include button-reset;
  @include size(32px);
  @include flex(row, center, center);

  border-radius: 50%;
  color: white;
  background-color: $color-primary;
}

@mixin icon-pseudo-classes {
  &:hover {
    background-color: #f0f0f0;
  }

  &:active {
    background-color: #e0e0e0;
  }
}
