@mixin button-reset {
  display: inline-block;
  outline: none;
  border: none;
  font: inherit;
  background-color: transparent;
  color: inherit;
  padding: 0;

  &:focus {
    outline: none;
  }

  &:enabled {
    cursor: pointer;
  }

  &:disabled {
    cursor: not-allowed;
  }
}

@mixin bg-linear {
  background: linear-gradient(226.47deg, #7b358d 0%, #2e358d 97.56%);
}

@mixin primary-circular-icon {
  @include button-reset;
  @include size(32px);
  @include bg-linear;
  @include flex(row, center, center);

  border-radius: 50%;
  color: white;
}
