$color-white: #fff;
$color-primary: mediumaquamarine;
$color-input: #343f4b;
$color-primary-light: #4a545f;
$color-secondary: #a8adb2;
$color-secondary-light: #e2e6eb;
$color-error: #cc0000;
$color-yellow: #fffc19;

$color-gray-22: #222;
$color-gray-44: #444;
$color-gray-66: #666;
$color-gray-99: #999;
$color-gray-E4E6: #e4e6e4;
$color-gray-f2f3: #f2f3f7;
$color-gray-E0: #e0e0e0;

$color-warning: #fff8db;
$color-warning-darker: #b58105;

$color-success: #e5f9e7;
$color-success-darker: #1ebc30;

$color-error-message: #ffe8e6;
$color-error-darker: #db2828;

$color-blackboard: #477857;

$color-hand-raise: #de8d4b;
$color-hand-raise-acc: #dfba4b;
