@import 'color';
@import 'variables';
@import 'breakpoints';
@import 'tools/tools';
@import 'scroll';
@import 'button';
@import 'message';
@import 'resets';
@import 'spinner';

@mixin user-camera-controls() {
  &:hover {
    .stream-controls {
      + .mute-wrapper {
        display: none;
      }
    }
  }

  .stream-controls {
    @include absolute(bottom 0 left 0);
    @include flex(row, space-between, center);

    color: white;
    animation: translude 0.35s ease-in;

    > span {
      @include clip-text;
      display: inline-block;
      padding: 4px 6px;
      border-bottom-left-radius: $border-radius;
      max-width: 250px;
    }

    .button {
      transform-origin: center;
      animation: pop 0.15s ease-in;
      padding: 4px;
    }
  }

  .mute-wrapper {
    @include absolute(bottom 6px right 6px);
  }
}

@mixin clip-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
